{{>head}}
    {{>navbar}}
    <div class="row">
        <div class = "col-8">
            <h1>Esto es un About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolor iste alias sed ex quam culpa maiores, repellat cupiditate consequuntur totam sunt nisi quibusdam id modi natus eum cum. Ipsam?
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/mce.jpg" class="img-thumbnail">
        </div>
    </div>
{{>footer}}